body {
	background-image: url("tileable-metal-textures-1.jpg");
}
.page-header {}
h1 {
	color: white;
}
.col3 {
	color: black;
	background: #6BC0FF;
	text-align: center;
}
footer {
	color: black;
}
.col4 {
	color: white;
}
