body {
    background-image: url("tileable-metal-textures-1.jpg");
}

.page-header {
  color: green;
}

.col3 {
  color: black;
    background: #6BC0FF;
    text-align: center;
}

 footer {
   color: black;
 }
