
body  {
  background-image: url("../Vogue-3.jpg");
  background-color: #cccccc;
  max-width: 100%;
}
 .page-header {
   color: blue;
 }
 html {
     background: url(Vogue-3.jpg) no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
 }
